<div class="header-component-wrapper">

  <div class="logo-wrapper">
    <a class="menu-link" routerLink="home"> <img class="img-fluid logo" src="assets/img/logo.svg" alt=""> </a>
  </div>

  <div class="menu-wrapper" #menuWrapper>
    <ul class="menu-list reset-ul">
      <li class="menu-item" (click)="toggleMobileMenu()" > <a class="menu-link" routerLink="top-rated-movies"> top rated Movies </a></li>
      <li class="menu-item" (click)="toggleMobileMenu()" > <a class="menu-link" routerLink="now-playing-movies"> now playing Movies</a></li>
      <li class="menu-item" (click)="toggleMobileMenu()" > <a class="menu-link" routerLink="popular-movies"> popular Movies</a></li>
      <li class="menu-item" (click)="toggleMobileMenu()" > <a class="menu-link" routerLink="upcoming-movies"> upcoming Movies</a></li>
    </ul>
  </div><!-- menu-wrapper -->

  <div class="search-wrapper" #searchWrapper>
    <input (keydown)="keyDownFunction($event , inputRef.value)" placeholder="Search For Movie ..." type="text"
      class="form-control mr-2" #inputRef>
    <a class="btn btn-primary" (click)="routeToSearchPage(inputRef.value);toggleMobileMenu()"> search </a>
  </div><!-- search-wrapper -->

  <a class="toggle-menu-icon" (click)="toggleMobileMenu()"> <i class="icon icon-menu"></i>
  </a>

</div><!-- header-component-wrapper -->
