/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "~swiper/swiper-bundle";

@import '~lightgallery/scss/lightgallery';



@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');



///////////////////// START ANIMATION STYLE /////////////////////

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes loadingAnimatedBg {
  0% {
    background-color: #111;
  }
  50% {
    background-color: #333;
  }
  100% {
    background-color: #111;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease;

  &.loaded {
    transform: scale(3);
    opacity: 0;
  }

  img {
    width: 60px;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 35px;
}

.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.animated-bg {
  width: 100%;
  animation: loadingAnimatedBg 3s linear infinite alternate;
  border-radius: 3px;
}

///////////////////// END ANIMATION STYLE /////////////////////

:root {
  --mainColor: #db202c;
  --mainColorDark: #b80814;
}

body {
  margin-top: 87px;
  background: #111;
  font-family: Signika Negative, sans-serif;
}

a {
  text-transform: capitalize;
  &:hover {
    text-decoration: none;
  }
}

pre {
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  font-size: 16px;
}

.overlay {
  background: RGBA(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.color-white {
  color: #fff;
}

.text-capitalize {
  text-transform: capitalize;
}

section {
  padding: 40px 0;
}

.section-headline {
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
  color: #fff;

  &:after {
    content: "";
    background: var(--mainColor);
    width: 30px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 15px;
  }
}

.reset-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.swiper-container {
  &.swiper-with-pagination {
    padding-bottom: 30px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-size: 82px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;

    &:after {
      font-size: 32px;
    }
  }

  .swiper-pagination {
    margin-bottom: -10px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: var(--mainColor);
  }
}

.pagination-container {
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding: 30px 0;
  .ngx-pagination {
    li {
      display: inline-flex;
      min-width: 35px;
      min-height: 35px;
      justify-content: center;
      align-items: center;
      &.small-screen {
        display: none !important;
      }
    }
    a {
      color: #f0f0f0;
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 500px;
      min-width: 35px;
      min-height: 35px;
      justify-content: center;
      align-items: center;
      &:hover {
        color: #f0f0f0;
        background: #2a2a2a;
        text-decoration: none;
      }
    }
    .current {
      background: var(--mainColor);
      border-radius: 500px;
    }
  }
}

.page-footer {
  background: #000;
  padding: 24px;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  i {
    color: var(--mainColor);
    margin: 0 5px;
  }
}

//////////////////////////// START BOOTSTRAP OVERRIDE STYLE ////////////////////////////

.form-control {
  border-radius: 3px;
  background: RGBA(255, 255, 255, 0.1);
  border: 1px solid #7e7e7e;
  color: #fff;
  &:focus {
    border-color: #7e7e7e;
    box-shadow: none;
    background-color: RGBA(255, 255, 255, 0.2);
    color: #fff;
  }
}

.btn-primary {
  color: #fff;
  background-color: var(--mainColor);
  border-color: var(--mainColor);

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:active {
    color: #fff;
    background-color: var(--mainColorDark);
    border-color: var(--mainColorDark);
  }
}

.btn {
  min-width: 100px;
  border-radius: 3px;
}

//////////////////////////// END BOOTSTRAP OVERRIDE STYLE ////////////////////////////

//////////////////////////// START SHARED COMPONENTS STYLE ////////////////////////////

.header-component-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 15px;

  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    .logo {
      width: 160px;
    }
  }

  .menu-wrapper {
    display: flex;
    .menu-list {
      display: flex;
      a.menu-link {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 30px 15px;
        font-size: 18px;
        text-transform: capitalize;
        color: #fff;
        &:hover {
          background-color: var(--mainColor);
        }
      }
    }
  }

  .search-wrapper {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-item-wrapper {
  cursor: pointer;
  background: #1f1f1f;
  padding: 10px;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 5px;
  img {
    border-radius: 5px;
  }
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    border: 1px solid #585858;
  }
}

.movies-list-component-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;

  .sidebar-wrapper {
    min-width: 300px;
  }

  .movies-list-wrapper {
    flex-grow: 1;
  }
}

//////////////////////////// END SHARED COMPONENTS STYLE ////////////////////////////

//////////////////////////// START HOMEPAGE COMPONENT STYLE ////////////////////////////

.home-intro-slider-wrapper {
  margin-top: -80px;
  .slider-item-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: repeat;

    .slide-details {
      color: #fff;
      z-index: 9;
      text-align: center;
      padding: 100px;
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        -webkit-text-fill-color: #ffffff00;
        -webkit-font-smoothing: antialiased;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: url(assets/img/headline-bg.jpg);
        background-repeat: repeat;
        font-size: 90px;
        font-weight: 800;
        text-transform: uppercase;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

//////////////////////////// END HOMEPAGE COMPONENT STYLE ////////////////////////////

//////////////////////////// START MOVIE DETAILS COMPONENT STYLE ////////////////////////////

.movie-details-wrapper {
  .movie-details-container {
    background: #2a2a2a;
    padding: 30px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    position: relative;
    font-size: 18px;
    padding: 80px 0;
    overflow: hidden;
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-size: cover;
      background-repeat: repeat-x;
      background-attachment: fixed;
      background-position: center top;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: RGBA(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
    }
    .genres {
      .release-date {
        text-transform: capitalize;
      }
    }

    .movie-image {
      box-shadow: 0 0 50px #000;
      border-radius: 3px;
      overflow: hidden;
    }
  }

  iframe {
    border-radius: 10px;
    overflow: hidden;
  }
}

.gallery-wrapper{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .gallery-item{
    width: 20%;
    display: inline-flex;
  }
}

//////////////////////////// END HOMEPAGE COMPONENT STYLE ////////////////////////////
